@charset "utf-8";
/* CSS Document */

body{
	text-align:justify;
}

.nav{
	background:#7E4329;	
}
.nav .navbar-nav li a{
	color:#F5D98D;
}
.nav .navbar-nav li a:hover, .nav .navbar-nav li a:focus, .nav .navbar-nav li a:active{
	background:#C43D35;
	color:#DED4CA;
}
.navbar-header button{
	background:#C43D35;
	border:#C43D35;
}
/*.nav .navbar-nav ul.dropdown-menu{
    background:white;
}*/
.nav .navbar-nav ul.dropdown-menu li a{
	background:white;
	color:black;
}
.nav .navbar-nav ul.dropdown-menu li a:hover{
	color:#C43D35;
}
#myCarousel img{
	width:100%;
}

.footer{
	background:#F9DABD;
	padding-top:12px;
}

.subtitle{
	color:#C43D35;
	font-weight:bold;
}

.row{
	margin:15px 0px;
}
.storesmap{
	border:3px solid #7E4329;
}
#opinion{
	resize:none;
}

.textBold{
	font-weight:bold;
	color:#7E4329;
}

a.arrowUP{
	background:rgba(0,0,0,0.3);
	font:24px/24px san-serif;
	color:white;
	display:block;
	padding:10px;	
	position:fixed;
	right:10px;
	bottom:50px;
	border-radius::5px;
	-moz-border-radius:5px;
}
a.arrowUP.hover{
	background:rgba(0,0,0,0.5);
	color:white;
}
#myCarousel2 img{
	width:100%;
	margin-top:0px;
}
.navbar-header{
	position:relative;
	z-index:9999;
}

.row a{
	color:#7E4329;
}

.row a:hover{
	color:#331B10;
}